.container__experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.container__experience > div {
    background: var(--color-primary);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.container__experience > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.container__experience > div h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}